@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #FFFCF0;
  --body-column-margin: 20px;
  --landing-container-margin: 40px;
  --landing-container-height: calc(100vh - var(--landing-container-margin));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hex: #FFFCF0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
  max-width: 95%;
  margin: var(--body-column-margin) auto;
}

.landing-container {
  display: flex;
  height: var(--landing-container-height);
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
